<div class='container'
  [cdkDragFreeDragPosition]="containerRect"
  (cdkDragEnded)='endedContainer($event)'
  (cdkDragMoved)='movedContainer($event)'
  cdkDrag #container>
  <div class='transformer' *ngIf='transformGui'>
    <div class='handles'
      [style.transform]='getTranslateGrid()'
      [style.width]='transformGui.width+"px"'
      [style.height]='transformGui.height+"px"'
    >
      <div class='border'></div>
      <div class='dot tl'></div>
      <div class='dot tr'></div>
      <div class='dot bl'></div>
      <div class='dot br'></div>
      <div class='handle tl' (cdkDragStarted)='started($event)' (cdkDragMoved)='dragged($event)' (cdkDragEnded)='ended($event)' cdkDrag></div>
      <div class='handle tr' (cdkDragStarted)='started($event)' (cdkDragMoved)='dragged($event)' (cdkDragEnded)='ended($event)' cdkDrag></div>
      <div class='handle bl' (cdkDragStarted)='started($event)' (cdkDragMoved)='dragged($event)' (cdkDragEnded)='ended($event)' cdkDrag></div>
      <div class='handle br' (cdkDragStarted)='started($event)' (cdkDragMoved)='dragged($event)' (cdkDragEnded)='ended($event)' cdkDrag></div>
    </div>
  </div>
  <div class='outline'>
      <img [src]='source' [style.opacity]='opacity' #img (load)='setGui()'>
  </div>

</div>
