@import "src/styles/gui";

:host {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  pointer-events: none;

  section {
    display: flex;
    position: relative;
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
    border-radius: 2em;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 0 3em -1em rgba(0, 0, 0, 0.75);

    @include button;

    app-file-input, button {
      cursor: pointer;
    }
  }
}
